/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "norse";
  src: url(./fonts/Norse-Bold.otf);
  font-weight: normal;
  font-style: normal;
}

:root {
  --button-color: #406050;
}

body {
  display: flex;
}

.textContainer {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  gap: 70px;
  flex: 1;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

.iconContainer {
  flex-shrink: 0;
  position: relative;
}

.headerAndIcon {
  /* border: pink 2px solid; */
  position: absolute;
  width: 100%;
  top: 300px;
  font-size: 5rem;
  font-family: norse;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: hsl(229 6.6% 12.1% / 0.6);
}

#backgroundImg {
  height: 100vh;
}

label {
  display: block;
}

fieldset {
  background: #eeaeca;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.inputContainer {
  display: flex;
  gap: 50px;
  justify-content: flex-start;
  font-family: monospace;
}

.right-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.btnContainer,
.inputContainer {
  padding: 50px;
  flex: 1;
}

button {
  margin-bottom: 20px;
  padding: 10px 50px;
  color: white;
  background-color: var(--button-color);
  border-radius: 0.5rem;
  font-size: 1.1rem;
}

.btnContainer {
  font-size: 1.1rem;
  font-family: "Courier New", Courier, monospace;
}

.btnContainer,
.textContainer {
  background-color: gainsboro;
}

input {
  /* box-sizing: border-box; */
  appearance: none;
  border-radius: 5px;
}
input:focus {
  border: orange 3px solid;
}

input:valid:focus {
  border: green 3px solid;
}

input:user-valid {
  border: green 3px solid;
}

input[type="email"]:invalid {
  border: red 3px solid;
}
input[type="email"]:invalid:not(:focus) + .warning {
  color: red;
  display: block;
}

legend {
  font-size: 2rem;
  left: 5px;
}

.warning {
  color: red;
  font-size: 0.7rem;
  display: none;
}
